
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');

/*-- Start reset --*/
	a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,button,canvas,caption,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,input,ins,kbd,label,legend,li,mark form,menu,nav,object,ol,option,output,p,pre,q,ruby,s,samp,section,select,small,span,strike,strong,sub,summary,sup,table,tbody,td,textarea,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;border:0;padding:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
	button,input[type=checkbox],input[type=image],input[type=radio],input[type=submit],label{cursor:pointer}
	strong{font-weight:700}
	em{font-style:italic}
	.fList{list-style:none}
	sub, sup {font-size: 0.8em;vertical-align:sub;}
	sup { vertical-align: super;}
/*-- End reset --*/

html {
	font-size: 62.5%;/* 10px */
	height: 100%;
}

body {
	height: 100%;
	font-family: "Open sans", Arial, Helvetica, sans-serif;
	font-size: 1.6rem;
	font-weight: 300;
	line-height: 1.5;
	color: white;
	background-image: linear-gradient(to bottom, #01a99c , #0698b1 100%);
}

h1 {
	font-size: 3.2rem;
	font-weight: bold;
}

h2 {
	/* font-size: 2.4rem; */
	/* font-weight: bold; */
	text-align: center;
}

.o-content-width {
	position: relative;
	margin: 0 auto;
	max-width: 70em;
	height: 100%;
}

.dashboard {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin: 0 auto;
	padding: 10em 0;
}

.metric-display {
	border-top: 1px solid;
	border-bottom: 1px solid;
	border-color: rgba(255, 255, 255, 0.3);
	padding: 10vh 0 0;
	width: 20%;
	max-width: 15em;
}

@media screen and (max-width: 800px) {
	html {
		font-size: 50%;
	}
	.metric-display {
		width: 40%;
		max-width: none;
	}
}

.icon {
	display: block;
	margin: 1em auto;
	width: 3em;
	height: auto;
}

.value-box {
	text-align: center;
}

.value {
	display: inline-block;
	font-size: 5rem;
	text-align: right;
}

.value-digits,
.unit {
	font-size: 3rem;
}

.unit {
	margin-left: 0.2em;
}

.value-digits {
	display: inline-block;
}

.value-digits::first-letter {
	margin-left: -0.2em;
}

.connect-box {
	position: absolute;
	right: 2em;
	bottom: 2em;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.connect-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(255, 255, 255, 0.4);
	background: rgba(0,0,0, 0.8);
	transition: opacity 0.3s ease-in-out;
}

.connect-overlay--is-hidden {
	opacity: 0;
	pointer-events: none;
}


.btn {
	margin-left: 1em;
	padding: 0.2em 0.6em;
	border: 1px solid transparent;
	border-bottom-color: currentColor;
	background: transparent;
	font: inherit;
	color: inherit;
	opacity: 0.7;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
	transition-property: border, opacity;
	cursor: pointer;
}

.btn:hover,
.btn:focus {
	border-color: currentColor;
	opacity: 1;
}

.btn--is-disabled,
.btn--is-disabled:hover,
.btn--is-disabled:focus {
	opacity: 0;
	pointer-events: none;
}

.btn--connect {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translateX(-50%);
	border-color: currentColor;
	padding: 0.5em 1em;
}

.btn--connect:hover,
.btn--connect:focus {
	background-color: rgba(255, 255, 255, 0.1);
	box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}

.battery-status {
	margin-left: 2rem;
	opacity: 0.7;
}


.battery-icon {
	position: relative;
	display: inline-block;
	margin-right: 0.2em;
	width: 1.8rem;
	height: 0.8rem;
	border: 1px solid white;
}

.battery-icon::before {
	content: '';
	position: absolute;
	top: 50%;
	right: 100%;
	width: 3px;
	height: 60%;
	background: white;
	transform: translateY(-50%);
}

.battery-icon::after {
	content: '';
	position: absolute;
	top: 2px;
	right: 2px;
	width: calc((100% - 4px) * var(--status));
	height: calc(100% - 4px);
	background: white;
	transition: width 0.3s ease-in-out;
}